<% admins_only do %>
<%= link_to "Tạo phiếu thu", new_phieuthu_path %>
<% end %>


<% tong_tien = 0 %>
<!-- Codes by HTML.am -->
<!-- Start Styles. Move the 'style' tags and everything between them to between the 'head' tags -->
<style type="text/css">
	.myTable {
		width: 1000px;
		background-color: #eee;
		border-collapse: collapse;
	}
	.myTable th {
		background-color: #000;
		color: white;
		width: 20%;
	}
	.myTable td, .myTable th {
		padding: 5px;
		border: 1px solid #000;
	}
</style>
<!-- End Styles -->
<table class="myTable">
	<tr>
		<th>Số phiếu</th>
		<th>Họ tên</th>
		<th>Địa chỉ</th>
		<th>Số tiền</th>
		<th>Thao tác</th>
	</tr>

	<% @phieuthus.each do |phieuthu| %>

	<tr>
		<% tong_tien = tong_tien + phieuthu.so_tien %>
		<td><%= link_to phieuthu.so_phieu, phieuthu %></td>
		<td><%= phieuthu.ho_va_ten_nguoi_nop %></td>
		<td><%= phieuthu.dia_chi %></td>
		<td><%= phieuthu.so_tien %> đ</td>
		<td><%= link_to "Xóa",
		phieuthu_path(phieuthu),
		method: :delete,
		data: { confirm:
		"Xóa phiếu?"
		} %>
		<%= link_to "Sửa", edit_phieuthu_path(phieuthu) %> </td>
	</tr>
	<% end %>
</table>
<h4>Tổng số tiền đã thu: <%= tong_tien %> đồng</h4>
