<center><%= form_for(@phieuthu) do |f| %>
<% if @phieuthu.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@phieuthu.errors.count, "Errors") %>
	Không thể lưu với thông tin đã nhập </h2>

	<ul>
		<% @phieuthu.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<% ls_phieuchi = [' '] %>
<% @phieuchis.each do |p| %>
<% ls_phieuchi << p.so_phieu %>
<% end %>
<table>

	<tr>
		<td align="right"> <%= f.label :so_phieu, "Số phiếu" %> </td>
		<td align="left"> <%= f.text_field :so_phieu %> </td>
	</tr>
	<tr>
		<td align="right"> <%= f.label :ho_va_ten_nguoi_nop , "Họ tên người nộp " %> </td>
		<td align="left"> <%= f.text_field :ho_va_ten_nguoi_nop %> </td>
	</tr>
	<tr>
		<td align="right"> <%= f.label :dia_chi, "Địa chỉ " %> </td>
		<td align="left"> <%= f.text_field :dia_chi %> </td>
	</tr>
	<tr>
		<td align="right"> <%= f.label :ly_do_thu ,"Lí do thu " %> </td>
		<td align="left"> <%= f.text_field :ly_do_thu %> </td>
	</tr>
	<tr>
		<td align="right"> <%= f.label :so_tien,"Số tiền " %> </td>
		<td align="left"> <%= f.number_field :so_tien %> </td>
	</tr>
	<tr>
		<td align="right"> <%= f.label :ma_phieuchi, "Nộp cho phiếu chi: " %> </td>
		<td align="left"> <%= f.select :ma_phieuchi,  ls_phieuchi %> </td>
	</tr>

</table>
	<% if @phieuthu.new_record? %>
	<%= f.submit "Tạo phiếu thu" %>
	<% else %>
	<%= f.submit "Cập nhật phiếu thu" %>
	<% end %>
<% end %>
</center>