﻿<% @title = "Phiếu thu " + @phieuthu.so_phieu %>
<% @date = Time.current %>



<div><h1>﻿<b></b>Phiếu thu <%= @phieuthu.so_phieu %></b></h1></div>
<% if @phieuthu.ma_phieuchi != ' ' %>
<p><i> <%= "Thanh toán cho phiếu chi: " %> <%= @phieuthu.ma_phieuchi %></i></p>
<% end %>
<div style="width:100%;height:100px;"></div>









<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

	<head>
		<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
		<meta name=ProgId content=Word.Document>
		<meta name=Generator content="Microsoft Word 15">
		<meta name=Originator content="Microsoft Word 15">
		<link rel=File-List href="phieuthu_files/filelist.xml">
		<link rel=themeData href="phieuthu_files/themedata.thmx">
		<link rel=colorSchemeMapping href="phieuthu_files/colorschememapping.xml">
		<!--[if gte mso 9]><xml>
		<w:WordDocument>
		<w:TrackMoves>false</w:TrackMoves>
		<w:TrackFormatting/>
		<w:ValidateAgainstSchemas/>
		<w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
		<w:IgnoreMixedContent>false</w:IgnoreMixedContent>
		<w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
		<w:DoNotPromoteQF/>
		<w:LidThemeOther>EN-US</w:LidThemeOther>
		<w:LidThemeAsian>X-NONE</w:LidThemeAsian>
		<w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
		<w:Compatibility>
		<w:BreakWrappedTables/>
		<w:SplitPgBreakAndParaMark/>
		</w:Compatibility>
		<w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
		<m:mathPr>
		<m:mathFont m:val="Cambria Math"/>
		<m:brkBin m:val="before"/>
		<m:brkBinSub m:val="&#45;-"/>
		<m:smallFrac m:val="off"/>
		<m:dispDef/>
		<m:lMargin m:val="0"/>
		<m:rMargin m:val="0"/>
		<m:defJc m:val="centerGroup"/>
		<m:wrapIndent m:val="1440"/>
		<m:intLim m:val="subSup"/>
		<m:naryLim m:val="undOvr"/>
		</m:mathPr></w:WordDocument>
		</xml><![endif]--><!--[if gte mso 9]><xml>
		<w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="false"
		DefSemiHidden="false" DefQFormat="false" DefPriority="99"
		LatentStyleCount="371">
		<w:LsdException Locked="false" Priority="0" QFormat="true" Name="Normal"/>
		<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 1"/>
		<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 2"/>
		<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"/>
		<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 4"/>
		<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 5"/>
		<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 6"/>
		<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 7"/>
		<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 8"/>
		<w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 9"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="index 1"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="index 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="index 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="index 4"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="index 5"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="index 6"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="index 7"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="index 8"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="index 9"/>
		<w:LsdException Locked="false" Priority="39" SemiHidden="true"
		UnhideWhenUsed="true" Name="toc 1"/>
		<w:LsdException Locked="false" Priority="39" SemiHidden="true"
		UnhideWhenUsed="true" Name="toc 2"/>
		<w:LsdException Locked="false" Priority="39" SemiHidden="true"
		UnhideWhenUsed="true" Name="toc 3"/>
		<w:LsdException Locked="false" Priority="39" SemiHidden="true"
		UnhideWhenUsed="true" Name="toc 4"/>
		<w:LsdException Locked="false" Priority="39" SemiHidden="true"
		UnhideWhenUsed="true" Name="toc 5"/>
		<w:LsdException Locked="false" Priority="39" SemiHidden="true"
		UnhideWhenUsed="true" Name="toc 6"/>
		<w:LsdException Locked="false" Priority="39" SemiHidden="true"
		UnhideWhenUsed="true" Name="toc 7"/>
		<w:LsdException Locked="false" Priority="39" SemiHidden="true"
		UnhideWhenUsed="true" Name="toc 8"/>
		<w:LsdException Locked="false" Priority="39" SemiHidden="true"
		UnhideWhenUsed="true" Name="toc 9"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Normal Indent"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="footnote text"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="annotation text"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="header"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="footer"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="index heading"/>
		<w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="table of figures"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="envelope address"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="envelope return"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="footnote reference"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="annotation reference"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="line number"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="page number"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="endnote reference"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="endnote text"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="table of authorities"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="macro"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="toa heading"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List Bullet"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List Number"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List 4"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List 5"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List Bullet 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List Bullet 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List Bullet 4"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List Bullet 5"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List Number 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List Number 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List Number 4"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List Number 5"/>
		<w:LsdException Locked="false" Priority="10" QFormat="true" Name="Title"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Closing"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Signature"/>
		<w:LsdException Locked="false" Priority="1" SemiHidden="true"
		UnhideWhenUsed="true" Name="Default Paragraph Font"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Body Text"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Body Text Indent"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List Continue"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List Continue 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List Continue 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List Continue 4"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="List Continue 5"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Message Header"/>
		<w:LsdException Locked="false" Priority="11" QFormat="true" Name="Subtitle"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Salutation"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Date"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Body Text First Indent"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Body Text First Indent 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Note Heading"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Body Text 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Body Text 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Body Text Indent 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Body Text Indent 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Block Text"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Hyperlink"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="FollowedHyperlink"/>
		<w:LsdException Locked="false" Priority="22" QFormat="true" Name="Strong"/>
		<w:LsdException Locked="false" Priority="20" QFormat="true" Name="Emphasis"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Document Map"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Plain Text"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="E-mail Signature"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="HTML Top of Form"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="HTML Bottom of Form"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Normal (Web)"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="HTML Acronym"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="HTML Address"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="HTML Cite"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="HTML Code"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="HTML Definition"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="HTML Keyboard"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="HTML Preformatted"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="HTML Sample"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="HTML Typewriter"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="HTML Variable"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Normal Table"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="annotation subject"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="No List"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Outline List 1"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Outline List 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Outline List 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Simple 1"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Simple 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Simple 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Classic 1"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Classic 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Classic 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Classic 4"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Colorful 1"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Colorful 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Colorful 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Columns 1"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Columns 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Columns 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Columns 4"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Columns 5"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Grid 1"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Grid 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Grid 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Grid 4"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Grid 5"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Grid 6"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Grid 7"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Grid 8"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table List 1"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table List 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table List 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table List 4"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table List 5"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table List 6"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table List 7"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table List 8"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table 3D effects 1"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table 3D effects 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table 3D effects 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Contemporary"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Elegant"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Professional"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Subtle 1"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Subtle 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Web 1"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Web 2"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Web 3"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Balloon Text"/>
		<w:LsdException Locked="false" Priority="39" Name="Table Grid"/>
		<w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
		Name="Table Theme"/>
		<w:LsdException Locked="false" SemiHidden="true" Name="Placeholder Text"/>
		<w:LsdException Locked="false" Priority="1" QFormat="true" Name="No Spacing"/>
		<w:LsdException Locked="false" Priority="60" Name="Light Shading"/>
		<w:LsdException Locked="false" Priority="61" Name="Light List"/>
		<w:LsdException Locked="false" Priority="62" Name="Light Grid"/>
		<w:LsdException Locked="false" Priority="63" Name="Medium Shading 1"/>
		<w:LsdException Locked="false" Priority="64" Name="Medium Shading 2"/>
		<w:LsdException Locked="false" Priority="65" Name="Medium List 1"/>
		<w:LsdException Locked="false" Priority="66" Name="Medium List 2"/>
		<w:LsdException Locked="false" Priority="67" Name="Medium Grid 1"/>
		<w:LsdException Locked="false" Priority="68" Name="Medium Grid 2"/>
		<w:LsdException Locked="false" Priority="69" Name="Medium Grid 3"/>
		<w:LsdException Locked="false" Priority="70" Name="Dark List"/>
		<w:LsdException Locked="false" Priority="71" Name="Colorful Shading"/>
		<w:LsdException Locked="false" Priority="72" Name="Colorful List"/>
		<w:LsdException Locked="false" Priority="73" Name="Colorful Grid"/>
		<w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 1"/>
		<w:LsdException Locked="false" Priority="61" Name="Light List Accent 1"/>
		<w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 1"/>
		<w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 1"/>
		<w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 1"/>
		<w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 1"/>
		<w:LsdException Locked="false" SemiHidden="true" Name="Revision"/>
		<w:LsdException Locked="false" Priority="34" QFormat="true"
		Name="List Paragraph"/>
		<w:LsdException Locked="false" Priority="29" QFormat="true" Name="Quote"/>
		<w:LsdException Locked="false" Priority="30" QFormat="true"
		Name="Intense Quote"/>
		<w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 1"/>
		<w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 1"/>
		<w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 1"/>
		<w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 1"/>
		<w:LsdException Locked="false" Priority="70" Name="Dark List Accent 1"/>
		<w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 1"/>
		<w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 1"/>
		<w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 1"/>
		<w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 2"/>
		<w:LsdException Locked="false" Priority="61" Name="Light List Accent 2"/>
		<w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 2"/>
		<w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 2"/>
		<w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 2"/>
		<w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 2"/>
		<w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 2"/>
		<w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 2"/>
		<w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 2"/>
		<w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 2"/>
		<w:LsdException Locked="false" Priority="70" Name="Dark List Accent 2"/>
		<w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 2"/>
		<w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 2"/>
		<w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 2"/>
		<w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 3"/>
		<w:LsdException Locked="false" Priority="61" Name="Light List Accent 3"/>
		<w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 3"/>
		<w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 3"/>
		<w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 3"/>
		<w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 3"/>
		<w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 3"/>
		<w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 3"/>
		<w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 3"/>
		<w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 3"/>
		<w:LsdException Locked="false" Priority="70" Name="Dark List Accent 3"/>
		<w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 3"/>
		<w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 3"/>
		<w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 3"/>
		<w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 4"/>
		<w:LsdException Locked="false" Priority="61" Name="Light List Accent 4"/>
		<w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 4"/>
		<w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 4"/>
		<w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 4"/>
		<w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 4"/>
		<w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 4"/>
		<w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 4"/>
		<w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 4"/>
		<w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 4"/>
		<w:LsdException Locked="false" Priority="70" Name="Dark List Accent 4"/>
		<w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 4"/>
		<w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 4"/>
		<w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 4"/>
		<w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 5"/>
		<w:LsdException Locked="false" Priority="61" Name="Light List Accent 5"/>
		<w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 5"/>
		<w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 5"/>
		<w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 5"/>
		<w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 5"/>
		<w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 5"/>
		<w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 5"/>
		<w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 5"/>
		<w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 5"/>
		<w:LsdException Locked="false" Priority="70" Name="Dark List Accent 5"/>
		<w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 5"/>
		<w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 5"/>
		<w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 5"/>
		<w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 6"/>
		<w:LsdException Locked="false" Priority="61" Name="Light List Accent 6"/>
		<w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 6"/>
		<w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 6"/>
		<w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 6"/>
		<w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 6"/>
		<w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 6"/>
		<w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 6"/>
		<w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 6"/>
		<w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 6"/>
		<w:LsdException Locked="false" Priority="70" Name="Dark List Accent 6"/>
		<w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 6"/>
		<w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 6"/>
		<w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 6"/>
		<w:LsdException Locked="false" Priority="19" QFormat="true"
		Name="Subtle Emphasis"/>
		<w:LsdException Locked="false" Priority="21" QFormat="true"
		Name="Intense Emphasis"/>
		<w:LsdException Locked="false" Priority="31" QFormat="true"
		Name="Subtle Reference"/>
		<w:LsdException Locked="false" Priority="32" QFormat="true"
		Name="Intense Reference"/>
		<w:LsdException Locked="false" Priority="33" QFormat="true" Name="Book Title"/>
		<w:LsdException Locked="false" Priority="37" SemiHidden="true"
		UnhideWhenUsed="true" Name="Bibliography"/>
		<w:LsdException Locked="false" Priority="39" QFormat="true" Name="TOC Heading"/>
		<w:LsdException Locked="false" Priority="41" Name="Plain Table 1"/>
		<w:LsdException Locked="false" Priority="42" Name="Plain Table 2"/>
		<w:LsdException Locked="false" Priority="43" Name="Plain Table 3"/>
		<w:LsdException Locked="false" Priority="44" Name="Plain Table 4"/>
		<w:LsdException Locked="false" Priority="45" Name="Plain Table 5"/>
		<w:LsdException Locked="false" Priority="40" Name="Grid Table Light"/>
		<w:LsdException Locked="false" Priority="46" Name="Grid Table 1 Light"/>
		<w:LsdException Locked="false" Priority="47" Name="Grid Table 2"/>
		<w:LsdException Locked="false" Priority="48" Name="Grid Table 3"/>
		<w:LsdException Locked="false" Priority="49" Name="Grid Table 4"/>
		<w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark"/>
		<w:LsdException Locked="false" Priority="51" Name="Grid Table 6 Colorful"/>
		<w:LsdException Locked="false" Priority="52" Name="Grid Table 7 Colorful"/>
		<w:LsdException Locked="false" Priority="46"
		Name="Grid Table 1 Light Accent 1"/>
		<w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 1"/>
		<w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 1"/>
		<w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 1"/>
		<w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 1"/>
		<w:LsdException Locked="false" Priority="51"
		Name="Grid Table 6 Colorful Accent 1"/>
		<w:LsdException Locked="false" Priority="52"
		Name="Grid Table 7 Colorful Accent 1"/>
		<w:LsdException Locked="false" Priority="46"
		Name="Grid Table 1 Light Accent 2"/>
		<w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 2"/>
		<w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 2"/>
		<w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 2"/>
		<w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 2"/>
		<w:LsdException Locked="false" Priority="51"
		Name="Grid Table 6 Colorful Accent 2"/>
		<w:LsdException Locked="false" Priority="52"
		Name="Grid Table 7 Colorful Accent 2"/>
		<w:LsdException Locked="false" Priority="46"
		Name="Grid Table 1 Light Accent 3"/>
		<w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 3"/>
		<w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 3"/>
		<w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 3"/>
		<w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 3"/>
		<w:LsdException Locked="false" Priority="51"
		Name="Grid Table 6 Colorful Accent 3"/>
		<w:LsdException Locked="false" Priority="52"
		Name="Grid Table 7 Colorful Accent 3"/>
		<w:LsdException Locked="false" Priority="46"
		Name="Grid Table 1 Light Accent 4"/>
		<w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 4"/>
		<w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 4"/>
		<w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 4"/>
		<w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 4"/>
		<w:LsdException Locked="false" Priority="51"
		Name="Grid Table 6 Colorful Accent 4"/>
		<w:LsdException Locked="false" Priority="52"
		Name="Grid Table 7 Colorful Accent 4"/>
		<w:LsdException Locked="false" Priority="46"
		Name="Grid Table 1 Light Accent 5"/>
		<w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 5"/>
		<w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 5"/>
		<w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 5"/>
		<w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 5"/>
		<w:LsdException Locked="false" Priority="51"
		Name="Grid Table 6 Colorful Accent 5"/>
		<w:LsdException Locked="false" Priority="52"
		Name="Grid Table 7 Colorful Accent 5"/>
		<w:LsdException Locked="false" Priority="46"
		Name="Grid Table 1 Light Accent 6"/>
		<w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 6"/>
		<w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 6"/>
		<w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 6"/>
		<w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 6"/>
		<w:LsdException Locked="false" Priority="51"
		Name="Grid Table 6 Colorful Accent 6"/>
		<w:LsdException Locked="false" Priority="52"
		Name="Grid Table 7 Colorful Accent 6"/>
		<w:LsdException Locked="false" Priority="46" Name="List Table 1 Light"/>
		<w:LsdException Locked="false" Priority="47" Name="List Table 2"/>
		<w:LsdException Locked="false" Priority="48" Name="List Table 3"/>
		<w:LsdException Locked="false" Priority="49" Name="List Table 4"/>
		<w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark"/>
		<w:LsdException Locked="false" Priority="51" Name="List Table 6 Colorful"/>
		<w:LsdException Locked="false" Priority="52" Name="List Table 7 Colorful"/>
		<w:LsdException Locked="false" Priority="46"
		Name="List Table 1 Light Accent 1"/>
		<w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 1"/>
		<w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 1"/>
		<w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 1"/>
		<w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 1"/>
		<w:LsdException Locked="false" Priority="51"
		Name="List Table 6 Colorful Accent 1"/>
		<w:LsdException Locked="false" Priority="52"
		Name="List Table 7 Colorful Accent 1"/>
		<w:LsdException Locked="false" Priority="46"
		Name="List Table 1 Light Accent 2"/>
		<w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 2"/>
		<w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 2"/>
		<w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 2"/>
		<w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 2"/>
		<w:LsdException Locked="false" Priority="51"
		Name="List Table 6 Colorful Accent 2"/>
		<w:LsdException Locked="false" Priority="52"
		Name="List Table 7 Colorful Accent 2"/>
		<w:LsdException Locked="false" Priority="46"
		Name="List Table 1 Light Accent 3"/>
		<w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 3"/>
		<w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 3"/>
		<w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 3"/>
		<w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 3"/>
		<w:LsdException Locked="false" Priority="51"
		Name="List Table 6 Colorful Accent 3"/>
		<w:LsdException Locked="false" Priority="52"
		Name="List Table 7 Colorful Accent 3"/>
		<w:LsdException Locked="false" Priority="46"
		Name="List Table 1 Light Accent 4"/>
		<w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 4"/>
		<w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 4"/>
		<w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 4"/>
		<w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 4"/>
		<w:LsdException Locked="false" Priority="51"
		Name="List Table 6 Colorful Accent 4"/>
		<w:LsdException Locked="false" Priority="52"
		Name="List Table 7 Colorful Accent 4"/>
		<w:LsdException Locked="false" Priority="46"
		Name="List Table 1 Light Accent 5"/>
		<w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 5"/>
		<w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 5"/>
		<w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 5"/>
		<w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 5"/>
		<w:LsdException Locked="false" Priority="51"
		Name="List Table 6 Colorful Accent 5"/>
		<w:LsdException Locked="false" Priority="52"
		Name="List Table 7 Colorful Accent 5"/>
		<w:LsdException Locked="false" Priority="46"
		Name="List Table 1 Light Accent 6"/>
		<w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 6"/>
		<w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 6"/>
		<w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 6"/>
		<w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 6"/>
		<w:LsdException Locked="false" Priority="51"
		Name="List Table 6 Colorful Accent 6"/>
		<w:LsdException Locked="false" Priority="52"
		Name="List Table 7 Colorful Accent 6"/>
		</w:LatentStyles>
		</xml><![endif]-->
		<style>
			<!--
			/* Font Definitions */
			@font-face
			{font-family:"Cambria Math";
			panose-1:2 4 5 3 5 4 6 3 2 4;
			mso-font-charset:1;
			mso-generic-font-family:roman;
			mso-font-format:other;
			mso-font-pitch:variable;
			mso-font-signature:0 0 0 0 0 0;}
			@font-face
			{font-family:Calibri;
			panose-1:2 15 5 2 2 2 4 3 2 4;
			mso-font-charset:0;
			mso-generic-font-family:swiss;
			mso-font-pitch:variable;
			mso-font-signature:-536870145 1073786111 1 0 415 0;}
			@font-face
			{font-family:"Trebuchet MS";
			panose-1:2 11 6 3 2 2 2 2 2 4;
			mso-font-charset:0;
			mso-generic-font-family:swiss;
			mso-font-pitch:variable;
			mso-font-signature:647 3 0 0 159 0;}
			/* Style Definitions */
			p.MsoNormal, li.MsoNormal, div.MsoNormal
			{mso-style-unhide:no;
			mso-style-qformat:yes;
			mso-style-parent:"";
			margin-top:0in;
			margin-right:0in;
			margin-bottom:6.0pt;
			margin-left:0in;
			line-height:110%;
			mso-pagination:widow-orphan;
			font-size:10.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";}
			h1
			{mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			mso-style-link:"Heading 1 Char";
			margin-top:20.0pt;
			margin-right:0in;
			margin-bottom:2.0pt;
			margin-left:0in;
			mso-pagination:widow-orphan;
			page-break-after:avoid;
			mso-outline-level:1;
			font-size:16.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			color:#000000;
			font-weight:normal;}
			h2
			{mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			mso-style-link:"Heading 2 Char";
			margin-top:8.0pt;
			margin-right:0in;
			margin-bottom:0in;
			margin-left:0in;
			margin-bottom:.0001pt;
			mso-pagination:widow-orphan;
			page-break-after:avoid;
			mso-outline-level:2;
			font-size:14.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			color:#000000;
			font-weight:normal;}
			h3
			{mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			mso-style-link:"Heading 3 Char";
			margin-top:4.0pt;
			margin-right:0in;
			margin-bottom:0in;
			margin-left:0in;
			margin-bottom:.0001pt;
			mso-pagination:widow-orphan;
			page-break-after:avoid;
			mso-outline-level:3;
			font-size:13.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			color:#000000;
			font-weight:normal;}
			h4
			{mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			mso-style-link:"Heading 4 Char";
			margin-top:4.0pt;
			margin-right:0in;
			margin-bottom:0in;
			margin-left:0in;
			margin-bottom:.0001pt;
			line-height:110%;
			mso-pagination:widow-orphan;
			page-break-after:avoid;
			mso-outline-level:4;
			font-size:12.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			font-weight:normal;}
			h5
			{mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			mso-style-link:"Heading 5 Char";
			margin-top:4.0pt;
			margin-right:0in;
			margin-bottom:0in;
			margin-left:0in;
			margin-bottom:.0001pt;
			line-height:110%;
			mso-pagination:widow-orphan;
			page-break-after:avoid;
			mso-outline-level:5;
			font-size:11.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			font-weight:normal;
			font-style:italic;}
			h6
			{mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			mso-style-link:"Heading 6 Char";
			margin-top:4.0pt;
			margin-right:0in;
			margin-bottom:0in;
			margin-left:0in;
			margin-bottom:.0001pt;
			line-height:110%;
			mso-pagination:widow-orphan;
			page-break-after:avoid;
			mso-outline-level:6;
			font-size:10.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			color:#595959;
			font-weight:normal;}
			p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
			{mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			mso-style-link:"Heading 7 Char";
			margin-top:4.0pt;
			margin-right:0in;
			margin-bottom:0in;
			margin-left:0in;
			margin-bottom:.0001pt;
			line-height:110%;
			mso-pagination:widow-orphan;
			page-break-after:avoid;
			mso-outline-level:7;
			font-size:10.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";
			color:#595959;
			font-style:italic;}
			p.MsoHeading8, li.MsoHeading8, div.MsoHeading8
			{mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			mso-style-link:"Heading 8 Char";
			margin-top:4.0pt;
			margin-right:0in;
			margin-bottom:0in;
			margin-left:0in;
			margin-bottom:.0001pt;
			line-height:110%;
			mso-pagination:widow-orphan;
			page-break-after:avoid;
			mso-outline-level:8;
			font-size:10.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";
			font-variant:small-caps;
			color:#595959;}
			p.MsoHeading9, li.MsoHeading9, div.MsoHeading9
			{mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			mso-style-link:"Heading 9 Char";
			margin-top:4.0pt;
			margin-right:0in;
			margin-bottom:0in;
			margin-left:0in;
			margin-bottom:.0001pt;
			line-height:110%;
			mso-pagination:widow-orphan;
			page-break-after:avoid;
			mso-outline-level:9;
			font-size:10.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";
			font-variant:small-caps;
			color:#595959;
			font-style:italic;}
			p.MsoCaption, li.MsoCaption, div.MsoCaption
			{mso-style-priority:35;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			margin-top:0in;
			margin-right:0in;
			margin-bottom:6.0pt;
			margin-left:0in;
			mso-pagination:widow-orphan;
			font-size:10.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";
			color:#404040;
			font-weight:bold;}
			p.MsoTitle, li.MsoTitle, div.MsoTitle
			{mso-style-priority:10;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			mso-style-link:"Title Char";
			margin:0in;
			margin-bottom:.0001pt;
			mso-pagination:widow-orphan;
			font-size:32.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";
			color:#90C226;
			letter-spacing:-.35pt;}
			p.MsoSubtitle, li.MsoSubtitle, div.MsoSubtitle
			{mso-style-priority:11;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			mso-style-link:"Subtitle Char";
			margin-top:0in;
			margin-right:0in;
			margin-bottom:12.0pt;
			margin-left:0in;
			mso-pagination:widow-orphan;
			font-size:14.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";
			color:#404040;}
			p.MsoNoSpacing, li.MsoNoSpacing, div.MsoNoSpacing
			{mso-style-priority:1;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			margin:0in;
			margin-bottom:.0001pt;
			mso-pagination:widow-orphan;
			font-size:10.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";}
			p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
			{mso-style-priority:34;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			margin-top:0in;
			margin-right:0in;
			margin-bottom:6.0pt;
			margin-left:.5in;
			line-height:110%;
			mso-pagination:widow-orphan;
			font-size:10.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";}
			p.MsoQuote, li.MsoQuote, div.MsoQuote
			{mso-style-priority:29;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			mso-style-link:"Quote Char";
			margin-top:12.0pt;
			margin-right:.6in;
			margin-bottom:12.0pt;
			margin-left:.6in;
			text-align:center;
			line-height:105%;
			mso-pagination:widow-orphan;
			font-size:10.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";
			font-style:italic;}
			p.MsoIntenseQuote, li.MsoIntenseQuote, div.MsoIntenseQuote
			{mso-style-priority:30;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			mso-style-link:"Intense Quote Char";
			mso-margin-top-alt:auto;
			margin-right:.6in;
			margin-bottom:12.0pt;
			margin-left:.6in;
			text-align:center;
			line-height:110%;
			mso-pagination:widow-orphan;
			font-size:14.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";
			color:#90C226;}
			span.MsoSubtleEmphasis
			{mso-style-priority:19;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			color:#595959;
			font-style:italic;}
			span.MsoIntenseEmphasis
			{mso-style-priority:21;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			font-weight:bold;
			font-style:italic;}
			span.MsoSubtleReference
			{mso-style-priority:31;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			font-variant:small-caps;
			color:#404040;}
			span.MsoIntenseReference
			{mso-style-priority:32;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			font-variant:small-caps;
			font-weight:bold;
			text-decoration:underline;
			text-underline:single;}
			span.MsoBookTitle
			{mso-style-priority:33;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			font-variant:small-caps;
			font-weight:bold;}
			p.MsoTocHeading, li.MsoTocHeading, div.MsoTocHeading
			{mso-style-priority:39;
			mso-style-unhide:no;
			mso-style-qformat:yes;
			margin-top:20.0pt;
			margin-right:0in;
			margin-bottom:2.0pt;
			margin-left:0in;
			mso-pagination:widow-orphan;
			page-break-after:avoid;
			font-size:16.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";
			color:#90C226;}
			span.Heading1Char
			{mso-style-name:"Heading 1 Char";
			mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-locked:yes;
			mso-style-link:"Heading 1";
			font-family:"Trebuchet MS","sans-serif";
			mso-ascii-font-family:"Trebuchet MS";
			mso-hansi-font-family:"Trebuchet MS";
			color:#90C226;}
			span.Heading2Char
			{mso-style-name:"Heading 2 Char";
			mso-style-noshow:yes;
			mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-locked:yes;
			mso-style-link:"Heading 2";
			font-family:"Trebuchet MS","sans-serif";
			mso-ascii-font-family:"Trebuchet MS";
			mso-hansi-font-family:"Trebuchet MS";
			color:#90C226;}
			span.Heading3Char
			{mso-style-name:"Heading 3 Char";
			mso-style-noshow:yes;
			mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-locked:yes;
			mso-style-link:"Heading 3";
			font-family:"Trebuchet MS","sans-serif";
			mso-ascii-font-family:"Trebuchet MS";
			mso-hansi-font-family:"Trebuchet MS";
			color:#404040;}
			span.Heading4Char
			{mso-style-name:"Heading 4 Char";
			mso-style-noshow:yes;
			mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-locked:yes;
			mso-style-link:"Heading 4";
			font-family:"Trebuchet MS","sans-serif";
			mso-ascii-font-family:"Trebuchet MS";
			mso-hansi-font-family:"Trebuchet MS";}
			span.Heading5Char
			{mso-style-name:"Heading 5 Char";
			mso-style-noshow:yes;
			mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-locked:yes;
			mso-style-link:"Heading 5";
			font-family:"Trebuchet MS","sans-serif";
			mso-ascii-font-family:"Trebuchet MS";
			mso-hansi-font-family:"Trebuchet MS";
			font-style:italic;}
			span.Heading6Char
			{mso-style-name:"Heading 6 Char";
			mso-style-noshow:yes;
			mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-locked:yes;
			mso-style-link:"Heading 6";
			font-family:"Trebuchet MS","sans-serif";
			mso-ascii-font-family:"Trebuchet MS";
			mso-hansi-font-family:"Trebuchet MS";
			color:#595959;}
			span.Heading7Char
			{mso-style-name:"Heading 7 Char";
			mso-style-noshow:yes;
			mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-locked:yes;
			mso-style-link:"Heading 7";
			font-family:"Trebuchet MS","sans-serif";
			mso-ascii-font-family:"Trebuchet MS";
			mso-hansi-font-family:"Trebuchet MS";
			color:#595959;
			font-style:italic;}
			span.Heading8Char
			{mso-style-name:"Heading 8 Char";
			mso-style-noshow:yes;
			mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-locked:yes;
			mso-style-link:"Heading 8";
			font-family:"Trebuchet MS","sans-serif";
			mso-ascii-font-family:"Trebuchet MS";
			mso-hansi-font-family:"Trebuchet MS";
			font-variant:small-caps;
			color:#595959;}
			span.Heading9Char
			{mso-style-name:"Heading 9 Char";
			mso-style-noshow:yes;
			mso-style-priority:9;
			mso-style-unhide:no;
			mso-style-locked:yes;
			mso-style-link:"Heading 9";
			font-family:"Trebuchet MS","sans-serif";
			mso-ascii-font-family:"Trebuchet MS";
			mso-hansi-font-family:"Trebuchet MS";
			font-variant:small-caps;
			color:#595959;
			font-style:italic;}
			span.TitleChar
			{mso-style-name:"Title Char";
			mso-style-priority:10;
			mso-style-unhide:no;
			mso-style-locked:yes;
			mso-style-link:Title;
			font-family:"Trebuchet MS","sans-serif";
			mso-ascii-font-family:"Trebuchet MS";
			mso-hansi-font-family:"Trebuchet MS";
			color:#90C226;
			letter-spacing:-.35pt;}
			p.msotitlecxspfirst, li.msotitlecxspfirst, div.msotitlecxspfirst
			{mso-style-name:msotitlecxspfirst;
			mso-style-unhide:no;
			mso-style-link:"Title Char";
			margin:0in;
			margin-bottom:.0001pt;
			mso-pagination:widow-orphan;
			font-size:32.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";
			color:#90C226;
			letter-spacing:-.35pt;}
			p.msotitlecxspmiddle, li.msotitlecxspmiddle, div.msotitlecxspmiddle
			{mso-style-name:msotitlecxspmiddle;
			mso-style-unhide:no;
			mso-style-link:"Title Char";
			margin:0in;
			margin-bottom:.0001pt;
			mso-pagination:widow-orphan;
			font-size:32.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";
			color:#90C226;
			letter-spacing:-.35pt;}
			p.msotitlecxsplast, li.msotitlecxsplast, div.msotitlecxsplast
			{mso-style-name:msotitlecxsplast;
			mso-style-unhide:no;
			margin:0in;
			margin-bottom:.0001pt;
			mso-pagination:widow-orphan;
			font-size:32.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";
			color:#90C226;
			letter-spacing:-.35pt;}
			span.SubtitleChar
			{mso-style-name:"Subtitle Char";
			mso-style-priority:11;
			mso-style-unhide:no;
			mso-style-locked:yes;
			mso-style-link:Subtitle;
			font-family:"Trebuchet MS","sans-serif";
			mso-ascii-font-family:"Trebuchet MS";
			mso-hansi-font-family:"Trebuchet MS";
			color:#404040;}
			p.msolistparagraphcxspfirst, li.msolistparagraphcxspfirst, div.msolistparagraphcxspfirst
			{mso-style-name:msolistparagraphcxspfirst;
			mso-style-unhide:no;
			margin-top:0in;
			margin-right:0in;
			margin-bottom:0in;
			margin-left:.5in;
			margin-bottom:.0001pt;
			line-height:110%;
			mso-pagination:widow-orphan;
			font-size:10.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";}
			p.msolistparagraphcxspmiddle, li.msolistparagraphcxspmiddle, div.msolistparagraphcxspmiddle
			{mso-style-name:msolistparagraphcxspmiddle;
			mso-style-unhide:no;
			margin-top:0in;
			margin-right:0in;
			margin-bottom:0in;
			margin-left:.5in;
			margin-bottom:.0001pt;
			line-height:110%;
			mso-pagination:widow-orphan;
			font-size:10.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";}
			p.msolistparagraphcxsplast, li.msolistparagraphcxsplast, div.msolistparagraphcxsplast
			{mso-style-name:msolistparagraphcxsplast;
			mso-style-unhide:no;
			margin-top:0in;
			margin-right:0in;
			margin-bottom:6.0pt;
			margin-left:.5in;
			line-height:110%;
			mso-pagination:widow-orphan;
			font-size:10.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";}
			span.QuoteChar
			{mso-style-name:"Quote Char";
			mso-style-priority:29;
			mso-style-unhide:no;
			mso-style-locked:yes;
			mso-style-link:Quote;
			font-style:italic;}
			span.IntenseQuoteChar
			{mso-style-name:"Intense Quote Char";
			mso-style-priority:30;
			mso-style-unhide:no;
			mso-style-locked:yes;
			mso-style-link:"Intense Quote";
			font-family:"Trebuchet MS","sans-serif";
			mso-ascii-font-family:"Trebuchet MS";
			mso-hansi-font-family:"Trebuchet MS";
			color:#90C226;}
			p.msochpdefault, li.msochpdefault, div.msochpdefault
			{mso-style-name:msochpdefault;
			mso-style-unhide:no;
			mso-margin-top-alt:auto;
			margin-right:0in;
			mso-margin-bottom-alt:auto;
			margin-left:0in;
			mso-pagination:widow-orphan;
			font-size:10.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;
			mso-bidi-font-family:"Times New Roman";}
			p.msopapdefault, li.msopapdefault, div.msopapdefault
			{mso-style-name:msopapdefault;
			mso-style-unhide:no;
			mso-margin-top-alt:auto;
			margin-right:0in;
			margin-bottom:6.0pt;
			margin-left:0in;
			line-height:110%;
			mso-pagination:widow-orphan;
			font-size:12.0pt;
			font-family:"Times New Roman","serif";
			mso-fareast-font-family:"Times New Roman";
			mso-fareast-theme-font:minor-fareast;}
			.MsoChpDefault
			{mso-style-type:export-only;
			mso-default-props:yes;
			font-size:10.0pt;
			mso-ansi-font-size:10.0pt;
			mso-bidi-font-size:10.0pt;
			font-family:"Trebuchet MS","sans-serif";
			mso-ascii-font-family:"Trebuchet MS";
			mso-hansi-font-family:"Trebuchet MS";}
			.MsoPapDefault
			{mso-style-type:export-only;
			margin-bottom:6.0pt;
			line-height:110%;}
			@page WordSection1
			{size:8.5in 11.0in;
			margin:1.0in 1.0in 1.0in 1.0in;
			mso-header-margin:.5in;
			mso-footer-margin:.5in;
			mso-paper-source:0;}
			div.WordSection1
			{page:WordSection1;}
			-->
		</style>
		<!--[if gte mso 10]>
		<style>
		/* Style Definitions */
		table.MsoNormalTable
		{mso-style-name:"Table Normal";
		mso-tstyle-rowband-size:0;
		mso-tstyle-colband-size:0;
		mso-style-noshow:yes;
		mso-style-priority:99;
		mso-style-parent:"";
		mso-padding-alt:0in 5.4pt 0in 5.4pt;
		mso-para-margin-top:0in;
		mso-para-margin-right:0in;
		mso-para-margin-bottom:6.0pt;
		mso-para-margin-left:0in;
		line-height:110%;
		mso-pagination:widow-orphan;
		font-size:10.0pt;
		font-family:"Trebuchet MS","sans-serif";}
		</style>
		<![endif]--><!--[if gte mso 9]><xml>
		<o:shapedefaults v:ext="edit" spidmax="1026"/>
		</xml><![endif]--><!--[if gte mso 9]><xml>
		<o:shapelayout v:ext="edit">
		<o:idmap v:ext="edit" data="1"/>
		</o:shapelayout></xml><![endif]-->
	</head>

	<body lang=EN-US style='tab-interval:.5in'>

		<div class=WordSection1>

			<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=974
			style='width:730.35pt;border-collapse:collapse;mso-yfti-tbllook:1184;
			mso-padding-alt:0in 0in 0in 0in'>
				<tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:18.9pt'>
					<td width=379 nowrap colspan=4 valign=bottom style='width:284.5pt;padding:
					0in 5.4pt 0in 5.4pt;height:18.9pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<b><span style='font-size:11.0pt;font-family:"Times New Roman","serif"'>&#272;</span></b><b><span
						style='font-size:11.0pt;font-family:"Calibri","sans-serif"'>&#417;</span></b><b><span
						style='font-size:11.0pt;font-family:"Times New Roman","serif"'>n v</span></b><b><span
						style='font-size:11.0pt;font-family:"Calibri","sans-serif"'>&#7883;</span></b><b><span
						style='font-size:11.0pt;font-family:"Times New Roman","serif"'>: Khoa Công
							ngh</span></b><b><span style='font-size:11.0pt;font-family:"Calibri","sans-serif"'>&#7879;</span></b><b><span
						style='font-size:11.0pt;font-family:"Times New Roman","serif"'> Thông tin</span></b>
					</p></td>
					<td width=141 nowrap valign=bottom style='width:105.9pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:68.0pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=362 nowrap colspan=4 valign=bottom style='width:271.85pt;
					padding:0in 5.4pt 0in 5.4pt;height:18.9pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<b><span style='font-size:11.0pt;
						font-family:"Times New Roman","serif"'>M&#7851;u s&#7889; 01 - TT</span></b>
					</p></td>
				</tr>
				<tr style='mso-yfti-irow:1;height:18.9pt'>
					<td width=611 nowrap colspan=6 valign=bottom style='width:458.45pt;
					padding:0in 5.4pt 0in 5.4pt;height:18.9pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<b><span style='font-size:11.0pt;font-family:"Times New Roman","serif"'>&#272;&#7883;a
							ch&#7881;: P. 311, E3, s&#7889; 144 Xuân Th&#7911;y, C&#7847;u gi&#7845;y, HN</span></b>
					</p></td>
					<td width=362 colspan=4 rowspan=2 valign=bottom style='width:271.85pt;
					padding:0in 5.4pt 0in 5.4pt;height:18.9pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<span style='font-size:11.0pt;
						font-family:"Times New Roman","serif"'>(Ban hành theo Q&#272; s&#7889;
							15/2006/Q&#272;-BTC
							<br>
							Ngày 20/03/2006 c&#7911;a B&#7897; tr&#432;&#7903;ng BTC)</span>
					</p></td>
				</tr>
				<tr style='mso-yfti-irow:2;height:18.9pt'>
					<td width=316 nowrap valign=bottom style='width:236.7pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=24 nowrap valign=bottom style='width:18.2pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=141 valign=bottom style='width:105.9pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 valign=bottom style='width:68.0pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
				</tr>
				<tr style='mso-yfti-irow:3;height:17.95pt'>
					<td width=316 nowrap valign=bottom style='width:236.7pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
					<td width=24 nowrap valign=bottom style='width:18.2pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
					<td width=141 nowrap valign=bottom style='width:105.9pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
					<td width=91 nowrap valign=bottom style='width:68.0pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
					<td width=362 nowrap colspan=4 valign=bottom style='width:271.85pt;
					padding:0in 5.4pt 0in 5.4pt;height:17.95pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<b><span style='font-size:11.0pt;
						font-family:"Times New Roman","serif"'>S&#7889; phi&#7871;u: <%= @phieuthu.so_phieu%></span></b>
					</p></td>
				</tr>
				<tr style='mso-yfti-irow:4;height:17.95pt'>
					<td width=316 nowrap valign=bottom style='width:236.7pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
					<td width=24 nowrap valign=bottom style='width:18.2pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
					<td width=141 nowrap valign=bottom style='width:105.9pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
					<td width=91 nowrap valign=bottom style='width:68.0pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:17.95pt'></td>
				</tr>
				<tr style='mso-yfti-irow:5;height:23.65pt'>
					<td width=974 nowrap colspan=10 valign=bottom style='width:730.35pt;
					padding:0in 5.4pt 0in 5.4pt;height:23.65pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<b><span style='font-size:14.0pt;
						font-family:"Times New Roman","serif"'>PHI&#7870;U THU</span></b>
					</p></td>
				</tr>
				<tr style='mso-yfti-irow:6;height:19.85pt'>
					<td width=974 nowrap colspan=10 valign=bottom style='width:730.35pt;
					padding:0in 5.4pt 0in 5.4pt;height:19.85pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<span style='font-size:12.0pt;
						font-family:"Times New Roman","serif"'>Ngày &nbsp;<%= @date.strftime("%d") %>&nbsp; &nbsp;tháng &nbsp;<%= @date.strftime("%m")%> &nbsp;n&#259;m &nbsp; <%= @date.strftime("%Y") %> &nbsp;&nbsp;&nbsp;&nbsp;</span>
					</p></td>
				</tr>
				<tr style='mso-yfti-irow:7;height:16.05pt'>
					<td width=316 nowrap valign=bottom style='width:236.7pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=24 nowrap valign=bottom style='width:18.2pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=141 nowrap valign=bottom style='width:105.9pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:68.0pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
				</tr>
				<tr style='mso-yfti-irow:8;height:16.05pt'>
					<td width=316 nowrap valign=bottom style='width:236.7pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=24 nowrap valign=bottom style='width:18.2pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=141 nowrap valign=bottom style='width:105.9pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:68.0pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
				</tr>
				<tr style='mso-yfti-irow:9;height:18.9pt'>
					<td width=379 nowrap colspan=4 valign=bottom style='width:284.5pt;padding:
					0in 5.4pt 0in 5.4pt;height:18.9pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<span style='font-size:11.0pt;font-family:"Times New Roman","serif"'>H&#7885;
							và tên ng&#432;&#7901;i n&#7897;p ti&#7873;n: <%= @phieuthu.ho_va_ten_nguoi_nop %></span>
					</p></td>
					<td width=141 nowrap valign=bottom style='width:105.9pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:68.0pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
				</tr>
				<tr style='mso-yfti-irow:10;height:18.9pt'>
					<td width=611 nowrap colspan=6 valign=bottom style='width:458.45pt;
					padding:0in 5.4pt 0in 5.4pt;height:18.9pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<span style='font-size:11.0pt;font-family:"Times New Roman","serif"'>&#272;&#7883;a
							ch&#7881;: <%= @phieuthu.dia_chi %></span>
					</p></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
				</tr>
				<tr style='mso-yfti-irow:11;height:18.9pt'>
					<td width=883 nowrap colspan=9 valign=bottom style='width:9.2in;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<span style='font-size:11.0pt;font-family:"Times New Roman","serif"'>Lý
							do n&#7897;p: <%= @phieuthu.ly_do_thu	 %></span>
					</p></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
				</tr>
				<tr style='mso-yfti-irow:12;height:18.9pt'>
					<td width=335 nowrap colspan=2 valign=bottom style='width:251.45pt;
					padding:0in 5.4pt 0in 5.4pt;height:18.9pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<span style='font-size:11.0pt;font-family:"Times New Roman","serif"'>S&#7889;
							ti&#7873;n<b>: <%= @phieuthu.so_tien %> </b> VND</span>
					</p></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=24 nowrap valign=bottom style='width:18.2pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=141 nowrap valign=bottom style='width:105.9pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:68.0pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
				</tr>
				<tr style='mso-yfti-irow:13;height:18.9pt'>
					<td width=379 nowrap colspan=4 valign=bottom style='width:284.5pt;padding:
					0in 5.4pt 0in 5.4pt;height:18.9pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<span style='font-size:11.0pt;font-family:"Times New Roman","serif"'>Vi&#7871;t
							b&#7857;ng ch&#7919;: <i><%= Phieuchi.to_words(@phieuthu.so_tien.to_int) %> đồng.</i></span>
					</p></td>
					<td width=141 nowrap valign=bottom style='width:105.9pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:68.0pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
				</tr>
				<tr style='mso-yfti-irow:14;height:18.9pt'>
					<td width=335 nowrap colspan=2 valign=bottom style='width:251.45pt;
					padding:0in 5.4pt 0in 5.4pt;height:18.9pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<!-- <b><span style='font-size:11.0pt;font-family:"Times New Roman","serif"'>Ngu&#7891;n
							kinh phí:&nbsp; NKP</span></b> -->
					</p></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=24 nowrap valign=bottom style='width:18.2pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=141 nowrap valign=bottom style='width:105.9pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:68.0pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
				</tr>
				<tr style='mso-yfti-irow:15;height:16.05pt'>
					<td width=316 nowrap valign=bottom style='width:236.7pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<span style='font-family:"Times New Roman","serif"'>Ghi chú:&nbsp; </span>
					</p></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=24 nowrap valign=bottom style='width:18.2pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=141 nowrap valign=bottom style='width:105.9pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:68.0pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
				</tr>
				<tr style='mso-yfti-irow:16;height:18.9pt'>
					<td width=974 nowrap colspan=10 valign=bottom style='width:730.35pt;
					padding:0in 5.4pt 0in 5.4pt;height:18.9pt'>
					<p class=MsoNormal align=right style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:right;line-height:normal'>
						<i><span style='font-size:11.0pt;
						font-family:"Times New Roman","serif"'>Ngày……... tháng ……...n&#259;m ……...</span></i>
					</p></td>
				</tr>
				<tr style='mso-yfti-irow:17;height:18.9pt'>
					<td width=316 nowrap valign=bottom style='width:236.7pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=24 nowrap valign=bottom style='width:18.2pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=141 nowrap valign=bottom style='width:105.9pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:68.0pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:18.9pt'></td>
				</tr>
				<tr style='mso-yfti-irow:18;height:17.95pt'>
					<td width=355 nowrap colspan=3 valign=bottom style='width:266.25pt;
					padding:0in 5.4pt 0in 5.4pt;height:17.95pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<b><span style='font-size:11.0pt;
						font-family:"Times New Roman","serif"'>Ch&#7911; nhi&#7879;m Khoa</span></b>
					</p></td>
					<td width=166 nowrap colspan=2 valign=bottom style='width:124.15pt;
					padding:0in 5.4pt 0in 5.4pt;height:17.95pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<b><span style='font-size:11.0pt;
						font-family:"Times New Roman","serif"'>Ng&#432;&#7901;i n&#7897;p ti&#7873;n</span></b>
					</p></td>
					<td width=181 nowrap colspan=2 valign=bottom style='width:135.95pt;
					padding:0in 5.4pt 0in 5.4pt;height:17.95pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<b><span style='font-size:11.0pt;
						font-family:"Times New Roman","serif"'>Ng&#432;&#7901;i l&#7853;p phi&#7871;u</span></b>
					</p></td>
					<td width=272 nowrap colspan=3 valign=bottom style='width:203.9pt;padding:
					0in 5.4pt 0in 5.4pt;height:17.95pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<b><span style='font-size:11.0pt;
						font-family:"Times New Roman","serif"'>Th&#7911; qu&#7929;</span></b>
					</p></td>
				</tr>
				<tr style='mso-yfti-irow:19;height:18.9pt'>
					<td width=355 nowrap colspan=3 valign=bottom style='width:266.25pt;
					padding:0in 5.4pt 0in 5.4pt;height:18.9pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<i><span style='font-size:11.0pt;
						font-family:"Times New Roman","serif"'>(Ký, h&#7885; tên)</span></i>
					</p></td>
					<td width=166 nowrap colspan=2 valign=bottom style='width:124.15pt;
					padding:0in 5.4pt 0in 5.4pt;height:18.9pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<i><span style='font-size:11.0pt;
						font-family:"Times New Roman","serif"'>(Ký, h&#7885; tên)</span></i>
					</p></td>
					<td width=181 nowrap colspan=2 valign=bottom style='width:135.95pt;
					padding:0in 5.4pt 0in 5.4pt;height:18.9pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<i><span style='font-size:11.0pt;
						font-family:"Times New Roman","serif"'>(Ký, h&#7885; tên)</span></i>
					</p></td>
					<td width=272 nowrap colspan=3 valign=bottom style='width:203.9pt;padding:
					0in 5.4pt 0in 5.4pt;height:18.9pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<i><span style='font-size:11.0pt;
						font-family:"Times New Roman","serif"'>(Ký, h&#7885; tên)</span></i>
					</p></td>
				</tr>
				<tr style='mso-yfti-irow:20;height:16.05pt'>
					<td width=316 nowrap valign=bottom style='width:236.7pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=24 nowrap valign=bottom style='width:18.2pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=141 nowrap valign=bottom style='width:105.9pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:68.0pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
				</tr>
				<tr style='mso-yfti-irow:21;height:16.05pt'>
					<td width=316 nowrap valign=bottom style='width:236.7pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=24 nowrap valign=bottom style='width:18.2pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=141 nowrap valign=bottom style='width:105.9pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:68.0pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
				</tr>
				<tr style='mso-yfti-irow:22;mso-yfti-lastrow:yes;height:16.05pt'>
					<td width=316 nowrap valign=bottom style='width:236.7pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=20 nowrap valign=bottom style='width:14.75pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=24 nowrap valign=bottom style='width:18.2pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=141 nowrap valign=bottom style='width:105.9pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:68.0pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
					<td width=91 nowrap valign=bottom style='width:67.95pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.05pt'></td>
				</tr>
			</table>

			<p class=MsoNormal>
				&nbsp;
			</p>

		</div>

	</body>

</html>
