﻿<% @title = "Phiếu chi " + @phieuchi.so_phieu%>
<%= link_to "Sửa Phiếu Chi", edit_phieuchi_path(@phieuchi) %>


<html>

	<head>
		<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
		<meta name=Generator content="Microsoft Word 15 (filtered)">
		<style>
			<!--
			/* Font Definitions */
			@font-face
			{font-family:Calibri;
			panose-1:2 15 5 2 2 2 4 3 2 4;}
			/* Style Definitions */
			p.MsoNormal, li.MsoNormal, div.MsoNormal
			{margin-top:0in;
			margin-right:0in;
			margin-bottom:8.0pt;
			margin-left:0in;
			line-height:107%;
			font-size:11.0pt;
			font-family:"Calibri","sans-serif";}
			.MsoChpDefault
			{font-family:"Calibri","sans-serif";}
			.MsoPapDefault
			{margin-bottom:8.0pt;
			line-height:107%;}
			@page WordSection1
			{size:8.5in 11.0in;
			margin:1.0in 1.0in 1.0in 1.0in;}
			div.WordSection1
			{page:WordSection1;}
			-->
		</style>

	</head>

	<body lang=EN-US>

		<div class=WordSection1>

			<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 align=left
			width=802 style='width:8.35in;border-collapse:collapse;margin-left:6.75pt;
			margin-right:6.75pt'>
				<tr style='height:16.1pt'>
					<td width=299 nowrap colspan=4 valign=bottom style='width:224.2pt;padding:
					0in 5.4pt 0in 5.4pt;height:16.1pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<b><span style='font-family:"Times New Roman","serif"'>&#272;&#417;n
							v&#7883;: Khoa Công ngh&#7879; Thông tin</span></b>
					</p></td>
					<td width=72 nowrap colspan=2 valign=bottom style='width:53.85pt;padding:
					0in 5.4pt 0in 5.4pt;height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=287 nowrap colspan=4 valign=bottom style='width:215.45pt;
					padding:0in 5.4pt 0in 5.4pt;height:16.1pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<b><span style='font-family:"Times New Roman","serif"'>M&#7851;u
							s&#7889; 02 - TT</span></b>
					</p></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
				</tr>
				<tr style='height:16.1pt'>
					<td width=371 nowrap colspan=6 valign=bottom style='width:278.1pt;padding:
					0in 5.4pt 0in 5.4pt;height:16.1pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<b><span style='font-size:10.0pt;font-family:"Times New Roman","serif"'>&#272;&#7883;a
							ch&#7881;: P. 311, E3, s&#7889; 144 Xuân Th&#7911;y, C&#7847;u gi&#7845;y, HN</span></b>
					</p></td>
					<td width=72 valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=287 colspan=4 rowspan=2 valign=bottom style='width:215.45pt;
					padding:0in 5.4pt 0in 5.4pt;height:16.1pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<span style='font-family:"Times New Roman","serif"'>(Ban
							hành theo Q&#272; s&#7889; 48/2006/Q&#272;-BTC
							<br>
							Ngày 14/9/2006 c&#7911;a B&#7897; tr&#432;&#7903;ng BTC)</span>
					</p></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
				</tr>
				<tr style='height:16.1pt'>
					<td width=250 nowrap valign=bottom style='width:187.45pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=17 nowrap colspan=2 valign=bottom style='width:12.65pt;padding:
					0in 5.4pt 0in 5.4pt;height:16.1pt'></td>
					<td width=71 valign=bottom style='width:53.15pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
				</tr>
				<tr style='height:16.1pt'>
					<td width=250 nowrap valign=bottom style='width:187.45pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=17 nowrap colspan=2 valign=bottom style='width:12.65pt;padding:
					0in 5.4pt 0in 5.4pt;height:16.1pt'></td>
					<td width=71 nowrap valign=bottom style='width:53.15pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=287 nowrap colspan=4 valign=bottom style='width:215.45pt;
					padding:0in 5.4pt 0in 5.4pt;height:16.1pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<b><span style='font-family:"Times New Roman","serif"'>S&#7889;
							phi&#7871;u: <%= @phieuchi.so_phieu %></span></b>
					</p></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
				</tr>
				<tr style='height:16.1pt'>
					<td width=250 nowrap valign=bottom style='width:187.45pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=17 nowrap colspan=2 valign=bottom style='width:12.65pt;padding:
					0in 5.4pt 0in 5.4pt;height:16.1pt'></td>
					<td width=71 nowrap valign=bottom style='width:53.15pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
				</tr>
				<tr style='height:20.1pt'>
					<td width=730 nowrap colspan=11 valign=bottom style='width:547.4pt;
					padding:0in 5.4pt 0in 5.4pt;height:20.1pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<b><span style='font-size:14.0pt;
						font-family:"Times New Roman","serif"'>PHI&#7870;U CHI</span></b>
					</p>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<span style='font-size:12.0pt;
						font-family:"Times New Roman","serif"'>Ngày DATE1 tháng   n&#259;m  </span>
					</p></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:20.1pt'></td>
				</tr>
				<tr style='height:13.6pt'>
					<td width=250 nowrap valign=bottom style='width:187.45pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap colspan=2 valign=bottom style='width:12.65pt;padding:
					0in 5.4pt 0in 5.4pt;height:13.6pt'></td>
					<td width=71 nowrap valign=bottom style='width:53.15pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
				</tr>
				<tr style='height:13.6pt'>
					<td width=250 nowrap valign=bottom style='width:187.45pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap colspan=2 valign=bottom style='width:12.65pt;padding:
					0in 5.4pt 0in 5.4pt;height:13.6pt'></td>
					<td width=71 nowrap valign=bottom style='width:53.15pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
				</tr>
				<tr style='height:13.6pt'>
					<td width=250 nowrap valign=bottom style='width:187.45pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap colspan=2 valign=bottom style='width:12.65pt;padding:
					0in 5.4pt 0in 5.4pt;height:13.6pt'></td>
					<td width=71 nowrap valign=bottom style='width:53.15pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
				</tr>
				<tr style='height:14.5pt'>
					<td width=250 nowrap valign=bottom style='width:187.45pt;padding:0in 5.4pt 0in 5.4pt;
					height:14.5pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:14.5pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:14.5pt'></td>
					<td width=17 nowrap colspan=2 valign=bottom style='width:12.65pt;padding:
					0in 5.4pt 0in 5.4pt;height:14.5pt'></td>
					<td width=71 nowrap valign=bottom style='width:53.15pt;padding:0in 5.4pt 0in 5.4pt;
					height:14.5pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:14.5pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:14.5pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:14.5pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:14.5pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:14.5pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:14.5pt'></td>
				</tr>
				<tr style='height:16.9pt'>
					<td width=371 nowrap colspan=6 valign=bottom style='width:278.1pt;padding:
					0in 5.4pt 0in 5.4pt;height:16.9pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<span style='font-size:12.0pt;font-family:"Times New Roman","serif"'>H&#7885;
							và tên ng&#432;&#7901;i nh&#7853;n ti&#7873;n: <%= @phieuchi.ho_va_ten_nguoi_nhan %></span>
					</p></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.9pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.9pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.9pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.9pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.9pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.9pt'></td>
				</tr>
				<tr style='height:16.1pt'>
					<td width=443 nowrap colspan=7 valign=bottom style='width:331.95pt;
					padding:0in 5.4pt 0in 5.4pt;height:16.1pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<span style='font-family:"Times New Roman","serif"'>&#272;&#7883;a
							ch&#7881;: <%= @phieuchi.dia_chi %></span>
					</p></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
				</tr>
				<tr style='height:16.1pt'>
					<td width=514 nowrap colspan=8 valign=bottom style='width:385.85pt;
					padding:0in 5.4pt 0in 5.4pt;height:16.1pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<span style='font-family:"Times New Roman","serif"'>Lý do chi: <%= @phieuchi.ly_do_chi %></span>
					</p></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
				</tr>
				<tr style='height:16.1pt'>
					<td width=266 nowrap colspan=2 valign=bottom style='width:199.85pt;
					padding:0in 5.4pt 0in 5.4pt;height:16.1pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<span style='font-family:"Times New Roman","serif"'>S&#7889;
							ti&#7873;n<b>: <%= @phieuchi.so_tien %></b></span>
					</p></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=17 nowrap colspan=2 valign=bottom style='width:12.65pt;padding:
					0in 5.4pt 0in 5.4pt;height:16.1pt'></td>
					<td width=71 nowrap valign=bottom style='width:53.15pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
				</tr>
				<tr style='height:16.1pt'>
					<td width=371 nowrap colspan=6 valign=bottom style='width:278.1pt;padding:
					0in 5.4pt 0in 5.4pt;height:16.1pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<span style='font-family:"Times New Roman","serif"'>Vi&#7871;t b&#7857;ng
							ch&#7919;: VBC</span>
					</p></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
				</tr>
				<tr style='height:16.1pt'>
					<td width=299 nowrap colspan=4 valign=bottom style='width:224.2pt;padding:
					0in 5.4pt 0in 5.4pt;height:16.1pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<b><span style='font-family:"Times New Roman","serif"'>Ngu&#7891;n
							kinh phí: NKP</span></b>
					</p></td>
					<td width=72 nowrap colspan=2 valign=bottom style='width:53.85pt;padding:
					0in 5.4pt 0in 5.4pt;height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
				</tr>
				<tr style='height:13.6pt'>
					<td width=250 nowrap valign=bottom style='width:187.45pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'>Ghi
							chú: </span>
					</p></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap colspan=2 valign=bottom style='width:12.65pt;padding:
					0in 5.4pt 0in 5.4pt;height:13.6pt'></td>
					<td width=71 nowrap valign=bottom style='width:53.15pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
				</tr>
				<tr style='height:16.1pt'>
					<td width=730 nowrap colspan=11 valign=bottom style='width:547.4pt;
					padding:0in 5.4pt 0in 5.4pt;height:16.1pt'>
					<p class=MsoNormal align=right style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:right;line-height:normal'>
						<i><span style='font-family:"Times New Roman","serif"'>Ngày</span></i><span
						style='font-family:"Times New Roman","serif"'>……...<i> tháng   DATE2  n&#259;m
							 </i></span>
					</p></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
				</tr>
				<tr style='height:16.1pt'>
					<td width=250 nowrap valign=bottom style='width:187.45pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=17 nowrap colspan=2 valign=bottom style='width:12.65pt;padding:
					0in 5.4pt 0in 5.4pt;height:16.1pt'></td>
					<td width=71 nowrap valign=bottom style='width:53.15pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
				</tr>
				<tr style='height:15.25pt'>
					<td width=283 nowrap colspan=3 valign=bottom style='width:212.25pt;
					padding:0in 5.4pt 0in 5.4pt;height:15.25pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<b><span style='font-family:"Times New Roman","serif"'>Ch&#7911;
							nhi&#7879;m Khoa</span></b>
					</p></td>
					<td width=88 nowrap colspan=3 valign=bottom style='width:65.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:15.25pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<b><span style='font-family:"Times New Roman","serif"'>Th&#7911;
							qu&#7929;</span></b>
					</p></td>
					<td width=144 nowrap colspan=2 valign=bottom style='width:107.7pt;padding:
					0in 5.4pt 0in 5.4pt;height:15.25pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<b><span style='font-family:"Times New Roman","serif"'>Ng&#432;&#7901;i
							l&#7853;p phi&#7871;u</span></b>
					</p></td>
					<td width=215 nowrap colspan=3 valign=bottom style='width:161.55pt;
					padding:0in 5.4pt 0in 5.4pt;height:15.25pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<b><span style='font-family:"Times New Roman","serif"'>Ng&#432;&#7901;i
							nh&#7853;n ti&#7873;n</span></b>
					</p></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:15.25pt'></td>
				</tr>
				<tr style='height:16.1pt'>
					<td width=283 nowrap colspan=3 valign=bottom style='width:212.25pt;
					padding:0in 5.4pt 0in 5.4pt;height:16.1pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<i><span style='font-family:"Times New Roman","serif"'>(Ký,
							h&#7885; tên)</span></i>
					</p></td>
					<td width=88 nowrap colspan=3 valign=bottom style='width:65.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<i><span style='font-family:"Times New Roman","serif"'>(Ký,
							h&#7885; tên)</span></i>
					</p></td>
					<td width=144 nowrap colspan=2 valign=bottom style='width:107.7pt;padding:
					0in 5.4pt 0in 5.4pt;height:16.1pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<i><span style='font-family:"Times New Roman","serif"'>(Ký,
							h&#7885; tên)</span></i>
					</p></td>
					<td width=215 nowrap colspan=3 valign=bottom style='width:161.55pt;
					padding:0in 5.4pt 0in 5.4pt;height:16.1pt'>
					<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
					text-align:center;line-height:normal'>
						<i><span style='font-family:"Times New Roman","serif"'>(Ký,
							h&#7885; tên)</span></i>
					</p></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:16.1pt'></td>
				</tr>
				<tr style='height:13.6pt'>
					<td width=250 nowrap valign=bottom style='width:187.45pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap colspan=2 valign=bottom style='width:12.65pt;padding:
					0in 5.4pt 0in 5.4pt;height:13.6pt'></td>
					<td width=71 nowrap valign=bottom style='width:53.15pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
				</tr>
				<tr style='height:13.6pt'>
					<td width=250 nowrap valign=bottom style='width:187.45pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap colspan=2 valign=bottom style='width:12.65pt;padding:
					0in 5.4pt 0in 5.4pt;height:13.6pt'></td>
					<td width=71 nowrap valign=bottom style='width:53.15pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
				</tr>
				<tr style='height:13.6pt'>
					<td width=250 nowrap valign=bottom style='width:187.45pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap colspan=2 valign=bottom style='width:12.65pt;padding:
					0in 5.4pt 0in 5.4pt;height:13.6pt'></td>
					<td width=71 nowrap valign=bottom style='width:53.15pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'>
					<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
					normal'>
						<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'> </span>
					</p></td>
				</tr>
				<tr style='height:13.6pt'>
					<td width=250 nowrap valign=bottom style='width:187.45pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap valign=bottom style='width:12.4pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=17 nowrap colspan=2 valign=bottom style='width:12.65pt;padding:
					0in 5.4pt 0in 5.4pt;height:13.6pt'></td>
					<td width=71 nowrap valign=bottom style='width:53.15pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.85pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
					<td width=72 nowrap valign=bottom style='width:53.8pt;padding:0in 5.4pt 0in 5.4pt;
					height:13.6pt'></td>
				</tr>
				<tr height=0>
					<td width=250 style='border:none'></td>
					<td width=17 style='border:none'></td>
					<td width=17 style='border:none'></td>
					<td width=16 style='border:none'></td>
					<td width=1 style='border:none'></td>
					<td width=71 style='border:none'></td>
					<td width=72 style='border:none'></td>
					<td width=72 style='border:none'></td>
					<td width=72 style='border:none'></td>
					<td width=72 style='border:none'></td>
					<td width=72 style='border:none'></td>
					<td width=72 style='border:none'></td>
				</tr>
			</table>

			<p class=MsoNormal>
				&nbsp;
			</p>

		</div>

	</body>

</html>
