<h1>Thanh toán cho phiếu chi số <%= @phieuchi.so_phieu %> </h1>






<%= form_for(@phieuthu) do |f| %>
<% if @phieuthu.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@phieuthu.errors.count, "Errors") %>
	Không thể lưu với thông tin đã nhập </h2>

	<ul>
		<% @phieuthu.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<table>

	<tr>
		<td align="right"> <%= f.label :so_phieu, "Số phiếu" %> </td>
		<td align="left"> <%= f.text_field :so_phieu %> </td>
	</tr>
	<tr>
		<td align="right"> <%= f.label :ho_va_ten_nguoi_nop , "Họ tên người nộp " %> </td>
		<td align="left"> <%= f.text_field :ho_va_ten_nguoi_nop %> </td>
	</tr>
	<tr>
		<td align="right"> <%= f.label :dia_chi, "Địa chỉ " %> </td>
		<td align="left"> <%= f.text_field :dia_chi %> </td>
	</tr>
	<tr>
		<td align="right"> <%= f.label :ly_do_thu ,"Lí do thu " %> </td>
		<td align="left"> <%= f.text_field :ly_do_thu %> </td>
	</tr>
	<tr>
		<td align="right"> <%= f.label :so_tien,"Số tiền " %> </td>
		<td align="left"> <%= f.number_field :so_tien %> </td>
	</tr>
	<tr>
		<td align="right"> <% if @phieuthu.new_record? %>
		<%= f.submit "Tạo phiếu thu" %>
		<% else %>
		<%= f.submit "Cập nhật phiếu thu" %>
		<% end %> </td>
	</tr>
</table>
<% end %>