<center>
	﻿<%= form_for(@phieuchi) do |f| %>

	<% if @phieuchi.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@phieuchi.errors.count, "error") %> </h2>

		<ul>
			<% @phieuchi.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<table>

		<tr>
			<td align="right"> <%= f.label :so_phieu, "Số Phiếu" %> </td>
			<td align="left"> <%= f.text_field :so_phieu %> </td>
		</tr>

		<tr>
			<td align="right"> <%= f.label :ho_va_ten_nguoi_nhan, " Họ và Tên người nhận" %> </td>
			<td align="left"> <%= f.text_field :ho_va_ten_nguoi_nhan %> </td>
		</tr>

		<tr>
			<td align="right"> <%= f.label :dia_chi, "Địa chỉ " %> </td>
			<td align="left"> <%= f.text_field :dia_chi %> </td>
		</tr>

		<tr>
			<td align="right"> <%= f.label :ly_do_chi ,"Lý do chi " %> </td>
			<td align="left"> <%= f.text_field :ly_do_chi %> </td>
		</tr>

		<tr>
			<td align="right"> <%= f.label :so_tien, "Số tiền " %> </td>
			<td align="left"> <%= f.number_field :so_tien %> </td>
		</tr>

	</table>

	<% if @phieuchi.new_record? %>
	<%= f.submit " Tạo  phiếu  chi " %>
	<% else %>
	<%= f.submit "Cập nhật phiếu chi" %>
	<% end %>

	<% end %>
</center>