﻿
<% if current_user.isAccount! %>
<%= link_to "Tạo phiếu chi", new_phieuchi_path %>
<% end %>
<h2>Danh sách phiếu chi</h2>

<% tong_tien = 0 %>
<style type="text/css">
	.myTable {
		width: 1000px;
		background-color: #eee;
		border-collapse: collapse;
	}
	.myTable th {
		background-color: #000;
		color: white;
		width: 20%;
	}
	.myTable td, .myTable th {
		padding: 5px;
		border: 1px solid #000;
	}
</style>
<!-- End Styles -->
<table class="myTable">
	<tr>
		<th>Số phiếu</th>
		<th>Họ tên</th>
		<th>Lý do chi</th>
		<th>Số tiền</th>
		<th>Thao tác</th>
	</tr>
	<% @phieuchis.each do |phieuchi| %>

	<tr>
		<% tong_tien = tong_tien + phieuchi.so_tien %>
		<td align="center"><%= link_to phieuchi.so_phieu, phieuchi %></td>
		<td><%= phieuchi.ho_va_ten_nguoi_nhan %></td>
		<td align="right"><%= phieuchi.ly_do_chi %></td>
		<td align="right"><%= phieuchi.so_tien  %> đ</td>
		<td align="center"><%= link_to "Xóa",
		phieuchi_path(phieuchi),
		method: :delete,
		data: { confirm:
		"Xóa phiếu?"
		} %>
		<%= link_to "Sửa", edit_phieuchi_path(phieuchi) %> </td>
	</tr>
	<% end %>
</table>
<h4> Tổng số tiền đã chi: <%= tong_tien %> đồng</h4>
