<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@user.errors.count, "error") %>
	prohibited this user from being saved:</h2>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<table>

	<tr>
		<td align="right"> <%= f.label :name, "Username" %> </td>
		<td align="left"> <%= f.text_field :name %> </td>
	</tr>

	<tr>
		<td align="right"> <%= f.label :email, "Email" %> </td>
		<td align="left"> <%= f.text_field :email %> </td>
	</tr>

	<tr>
		<td align="right"> <%= f.label :password %> </td>
		<td align="left"> <%= f.password_field :password %> </td>
	</tr>

	<tr>
		<td align="right"> <%= f.label :password_confirmation %> </td>
		<td align="left"> <%= f.password_field :password_confirmation %> </td>
	</tr>
	<tr>
		<td align="right"> <% if @user.new_record? %>
		<%= f.submit "Sign up" %>
		<% else %>
		<%= f.submit "Update Profile" %>
		<% end %>
		<% end %></td>
	</tr>

</table>
