<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@user.errors.count, "error") %>
	prohibited this user from being saved:</h2>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div align="center">
<table>
	<tr>
		<td align="right"> <%= f.label :name, "Tài khoản: " %> </td>
		<td align="left"> <%= f.text_field :name %> </td>
	</tr>

	<tr>
		<td align="right"> <%= f.label :email, "Địa chỉ email: " %> </td>
		<td align="left"> <%= f.text_field :email %> </td>
	</tr>

	<tr>
		<td align="right"> <%= f.label :password, "Mật khẩu: " %> </td>
		<td align="left"> <%= f.password_field :password %> </td>
	</tr>

	<tr>
		<td align="right"> <%= f.label :password_confirmation, "Oánh lại mật khẩu: " %> </td>
		<td align="left"> <%= f.password_field :password_confirmation %> </td>
	</tr>

	</p>
	<% if current_user.isAdmin! %>
	<tr>
		<td align="right"> <%= f.radio_button :per, "admin" %></td>
		<td align="left"> <%= f.label :per, "Quản trị viên" %> </td>
	</tr>
	
	<tr>
		<td align="right"> <%= f.radio_button :per, "account" %></td>
		<td align="left"> <%= f.label :per, "Kế toán" %> </td>
	</tr>

	<tr>
		<td align="right"> <%= f.radio_button :per, "normal" %></td>
		<td align="left"> <%= f.label :per, "Người dùng" %> </td>
	</tr>
	<% end %>


		
</table>
<% if @user.new_record? %>
		<%= f.submit "  Đ ă n g  k í  " %>
		<% else %>
		<%= f.submit "  C ậ p  n h ậ t  " %>
		<% end %>
		<% end %>
</div>

