<%= link_to "Người dùng mới", new_user_path %>
<ul id='users'>
	<% @users.each do |user| %>
	<li>
		<%= link_to user, [user] %> <%= link_to "Xóa",
		user_path(user),
		method: :delete,
		data: { confirm:
		"Xóa tài khoản: " + user.name
		} %>
	</li>
	<% end %>
</ul>