<h1> Thông tin người dùng </h1>

Tài khoản: <b> <%= link_to @user.name, edit_user_path %></b>
<br>
Email: <b> <%= @user.email %></b>
<br>
<% if @user.isAdmin! %>
<%= link_to "Danh sách người dùng", users_path %>
<% end %>
