

<i><h1>Đơn giản  | 
	Dễ dùng</h1></i>





<!-- <nav>
	<ul>
		<li><%= link_to "Đăng ký", new_user_path %></li>
		<li><%= link_to "Đăng nhập", signin_path %></li>
	</ul>
</nav> -->
<!-- <p>
<%= link_to "Phiếu chi", phieuchis_path %>
</p>
<p>
<%= link_to "Phiếu thu", phieuthus_path %>
</p> -->