<h1>Admin::Users#index</h1>
<p>Find me in app/views/admin/users/index.html.erb</p>

<%= link_to "New User", new_admin_user_path %>
<ul id='users'>
<% @users.each do |user| %>
<li><%= link_to user, [:admin, user] %></li>
<% end %>
</ul>