
<div align="center">
	<h1>Đăng nhập</h1>
<%= form_for :signin, method: "POST" do |f| %>


<table>
	<tr>
		<td align="right"> <%= f.label :name, "Tài khoản: " %> </td>
		<td align="left"> <%= f.text_field :name %> </td>
	</tr>
	<tr>
		<td align="right"> <%= f.label :password, "Mật khẩu: " %> </td>
		<td align="left"> <%= f.password_field :password %> </td>
	</tr>
	<tr>
		<td align="right"></td>
		<td align="left"> <%= f.submit "     Đ ă n g    n h ậ p     " %> </td>
	</tr>
</table>

</div>
<% end %>